<%= simple_form_for(@trip) do |f| %>

<fieldset>
  <legend>Add Trip</legend>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, :label => "Location" %>
  <%= f.label "Month" %>
  <%= f.select :month, [ 'January','February','March','April','May','June','July','August','September','October','November','December' ], :prompt => 'Select Month' %>
  <%= f.input :year, as: :date, label: "Select Year", start_year: Date.today.year, end_year: Date.today.year - 100, discard_day: true, order: [:year], include_blank: false, default: nil, :prompt => 'Select Year' %>

  <%= f.input :description %>
  <%= f.label "Method Of Travel" %>
  <%= f.select :method_of_travel, [ 'Airplane', 'Train', 'Boat', 'Bus', 'Other' ], :prompt => 'Select One' %>

  <div class="actions">
    <%= f.submit "Add Trip" %>
  </div>
<% end %>
