<%= simple_form_for(:session, url: session_index_path, html: {class: "well"}) do |f| %>

  <fieldset>
    <legend>Sign In</legend>

    <% if @errors %>
      <div id="error_explanation">

        <ul>
        <% @errors.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.input :email %>
    <%= f.input :password %>

    <div class="actions login">
      <%= f.button :submit, "Log in" %>
    </div>
  <% end %>
