<!DOCTYPE html>
<html>
<head>
  <title>MapMe</title>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">MapMe</a>
          <ul class="nav pull-right">
            <% if logged_in? %>
              <li><%= link_to(current_user.username, user_path(current_user.id), data: { no_turbolink: true } ) %></li>
              <li><%= link_to "Logout", '/logout' , data: { no_turbolink: true } %></li>
            <% else %>

              <button type="button" class="btn btn-primary register">Register</button>
              <button type="button" class="btn btn-primary login">Login</button>

            <% end %>
          </ul>
        </div>
      </div>
    </div>
      <%= yield %>
</body>
</html>
